
.alert__block {
  position: fixed;
  bottom: 40px;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  @media (max-width: 1280px) {
    width: 60%;
  }
  @media (max-width: 940px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 97%;
    opacity: 1;
  }



}




.alert {
  margin-bottom: 5px;
  display: block;
  opacity: .7;
  &:hover {
    opacity: 1;
    transition: opacity .3s;
  }
}