@import "../../styles/index";

.header {
  background-color: $bgBase !important;
  color: $colorHeaderText !important;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .header__icon {
        margin-right: 20px;
      }
    }
  }

}

.progressbar {
  position: absolute;
  bottom: -5px;
  color: $paletteColor_4 !important;
}